.productList {
  height: 100%;
  width: 100%;
  margin-left: 50px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.productList__list {
  display: flex;
  height: 100%;
  width: 1050px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 0;
}

.productList__item {
  border: 1px solid silver;
  width: 190px;
  height: 305px;
  font-size: 8px;
  padding: 3px;
  border-radius: 3px;
  justify-content: space-around;
}

.productList__item-img {
  height: 150px;
  width: 150px;
  margin-left: 15px;
}

.productList__item-butt--buy {
  width: 80px !important;
  height: 26px !important;
  font-size: 12px !important;
  margin-left: 25% !important;
  margin-bottom: 4px !important;
}

.productList__item-p {
  margin: 5px;
  font-size: 15px;
}

.productList__message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin-left: 310px;
}

.productList__message-title {
  width: 200px;
  height: 50px;
  background-color: rgb(129, 171, 219);
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
}

.productList__buyItem {
  display: flex;
  position: fixed;
  background-color: rgb(241, 240, 238);
  width: 980px;
  height: 650px;
  padding: 20px;
  margin-bottom: 300px;
  border-radius: 10px;
  border: 1px solid black;
  z-index: 1;
}

.productList__buyItem-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 50px;
  margin-right: 30px;
}

.productList__buyItem-img {
  height: 350px;
  width: 350px;
  border: 1px solid rgb(169, 141, 141);
  border-radius: 3px;
}

.productList__buyItem-table {
  width: 350px;
  height: 180px;
  margin-top: 60px;
  font-size: 17px;
  text-align: center;
}

.productList__buyItem-info {
  border: 1px solid rgb(185, 166, 166);
}

.productList__buyItem-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.productList__buyItem-error {
  text-align: center;
  background-color: white;
  margin: 4px;
  margin-bottom: 7px;
  border-radius: 5px;
}

.productList__buyItem-lands {
  text-align: center;
  width: 480px;
  margin: 7px 0 9px 0;
  background-color: white;
  padding: 6px;
  border-radius: 5px;
}

.productList__buyItem-label {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 10px;
  margin-bottom: 5px;
}

.productList__buyItem-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
}

.productList__buyItem-input {
  width: 450px;
  height: 30px;
  border-radius: 8px;
  text-align: center;
}

.productList__buyItem-container {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.productList__buyItem-payment {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.productList__select-label {
  display: flex;
  width: 130px;
  font-size: 18px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 5px;
}

.productList__buyItem-banner {
  display: block;
  width: 300px;
  height: 270px;
  margin-left: 40px;
  margin-top: 25px;
  border-radius: 40px;
  margin-bottom: 10px;
}

.productList__buyItem-picture {
  margin-top: 10px;
  width: 200px;
  height: 200px;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
}

.productList__buyItem-transaction {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 40px;
}

.productList__buyItem-solLink {
  margin-left: 10px;
  width: 240px;
  border-radius: 3px;
}

.productList__buyItem-incognito {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: white;
  padding: 6px;
  border-radius: 5px;
}

.productList__buyItem-button {
  margin-bottom: 7px !important;
  margin-top: 3px !important;
  animation: pulse 1.5s infinite !important;
}

.productList__banner {
  width: 905px;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 60px;
}

.productList__banner-butt--next {
  position: absolute !important;
  right: -15px !important;
  bottom: 43.5% !important;
  z-index: 0 !important;
}

.productList__banner-butt--previous {
  position: absolute !important;
  left: -17px !important;
  bottom: 40.5% !important;
  z-index: 0 !important;
}

.productList__bannerImg {
  width: 900px;
  border: 1px solid silver;
  border-radius: 3px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.7);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 20px 10px rgba(76, 175, 80, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);
  }
}
