.filtersBar {
  width: 280px;
  min-height: 100vh;
  border: 3px solid silver;
  border-top: 0;
  position: relative;
  padding-top: 10px;
  margin: 0;
}

.filtersBar__fixedList {
  position: fixed;
  width: 280px;
}

.filtersBar__fixedList-container {
  display: flex;
  justify-content: space-around;
}

.filtersBar__fixedList .button {
  background-color: rgb(239, 239, 239);
  color: black;
  padding: 6px 10px;
  width: 75px;
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.filtersBar__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
}

.filtersBar__input-title {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  justify-content: center;
  background-color: rgb(239, 239, 239);
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  gap: 10px;
  margin: 16.6px 0px;
}

.filtersBar__input-label {
  margin: 5px;
  margin-left: 10px;
  display: flex;
  padding: 1px;
  width: 200px;
  padding-left: 5px;
  justify-content: space-between;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
  font-size: 17px;
}

.filtersBar__input-link {
  color: black;
}
