.order {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}

.order__store {
  width: 504px;
  height: auto;
  position: fixed;
}

.order__store .button {
  margin-left: 220px;
  margin-top: 140px;
  height: 60px;
  width: 100px;
}

.order__store-img {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  height: 500px;
  width: 500px;
}

.order__container {
  display: flex;
  gap: 10px;
  height: 100%;
  width: auto;
  flex-wrap: wrap;
  margin-left: 35%;
  margin-bottom: 10px;
}

.order__container-product {
  border: 2px solid silver;
  height: auto;
  width: 210px;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  margin-top: 40px;

  border-radius: 5px;
}

.order__product-img {
  height: 200px;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
}

.order__product-text {
  width: 210px;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
  overflow: auto;
}

.order__container-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 150px;
  width: 700px;
  height: 470px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(205 185 185);
}

.order__container-frame-message {
  position: absolute;
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: rgb(239, 239, 239);
  padding: 20px;
  width: 100px;
  animation: moveAround 10s linear infinite;
}

@keyframes moveAround {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 100%;
    top: 0;
  }
  50% {
    left: 100%;
    top: 100%;
  }
  75% {
    left: 0;
    top: 100%;
  }
  100% {
    left: 0;
    top: 0;
  }
}
